target/**
bin/**
doc/**
gen/**
.DS_Store
Thumbs.db
gdb.setup
gdbserver
.svn
.hg
local.properties
.settings
AndEngineMultiplayerExtension.iml
*~
/AndEngine/nbandroid/
/AndEngineAugmentedRealityExtension/nbandroid/
/AndEngineExamplesModded/gen/
/AndEngineExamplesModded/bin/
/AndEngineTest/nbandroid/
/FunkyDomino/nbandroid/